.addContainer {
  display: flex;
  flex-direction: column;
  padding: 0px 250px;
}

.cardContainer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardDetails {
  width: 80vh;
  padding: 40px;
  height: 100%;
  color: white;
  background-color: #f57328;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formDetails {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.formRow {
  display: flex;
  gap: 20px;
}

.formInput input {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 0;
  outline: none;
  padding: 5px 10px;
  width: 250px;
  font-size: 1rem;
}

.formInputDescription textarea {
  width: 75vh;
  height: 150px;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.error {
  margin-top: 3px;
  color: black;
}

.errorInput {
  border: 3px solid red !important;
}

.errorInputTextArea {
  border: 3px solid red !important;
}

#formButton {
  margin: 4px 2px;
  padding: 15px 45px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bolder;
  text-decoration: none;
  background-color: white;
  color: black;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  appearance: none;
}

#backRooms {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 10vh;
  padding: 5vh 10vh;
  cursor: pointer;
}
