.tableContainer {
  display: flex;
  flex-direction: column;
  padding: 50px 200px;
}

#addRoomTypes {
  display: flex;
  align-items: center;
  gap: 5px;
  appearance: none;
  background-color: #f57328;
  color: white;
  border-radius: 24px;
  border: none;
  padding: 8px 25px;
  box-sizing: border-box;
  font-size: 1em;
  cursor: pointer;
}
