.roomContainer {
  padding: 10px 150px;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 100px;
}

.searchBar {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 30px;
  background: rgb(244, 239, 239);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 5px 10px;
  backdrop-filter: blur(4px) saturate(180%);
}

.searchBar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 1rem;
  color: rgb(6, 6, 6, 1);
}

.searchBar button {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  appearance: none;
  background-color: #f57328;
  color: white;
  border-radius: 30px;
  border: none;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 900;
  cursor: pointer;
}

::placeholder {
  color: rgb(6, 6, 6, 0.3);
}

#addRooms, #deleteRooms {
  display: flex;
  align-items: center;
  gap: 5px;
  appearance: none;
  background-color: #f57328;
  color: white;
  border-radius: 24px;
  border: none;
  padding: 8px 25px;
  box-sizing: border-box;
  font-size: 1em;
  cursor: pointer;
}

.btnContainer {
  display: flex;
  gap: 10px;
}
.roomTableContainer {
  padding: 0px 100px;
}

.roomTableContainer td,
.roomTableContainer th {
  border-bottom: 1px solid #ddd;
  padding: 20px 50px;
  text-align: center;
  align-items: center;
}

.roomTableButtons button {
  margin: 5px 5px;
  width: 100px;
  appearance: none;
  background-color: #f57328;
  color: white;
  border-radius: 24px;
  border: none;
  padding: 8px 25px;
  box-sizing: border-box;
  cursor: pointer;
}

#checkbox {
  height: 15px;
  width: 15px;
  accent-color: #f57328;
}

#tableHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
