.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.formHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formHeader h1,
h3 {
  padding: 0px;
}

.formDetails {
  display: flex;
  flex-direction: column;
}

.formRoom {
  display: flex;
  gap: 30px;
}

.formInput,
.formInputAbout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formInput input,
.formInputAbout input {
  border-radius: 5px;
  border: 0;
  outline: none;
  padding: 5px 10px;
  font-size: 1rem;
}

.formInputAbout input {
  padding: 50px;
}

.formRoom input[type="button"],
.formInputAbout input[type="button"] {
  font-weight: bolder;
  background-color: white;
  border: none;
  border-radius: 100px;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.cardDetails {
  padding: 50px;
  color: white;
  background-color: #f57328;
  display: flex;
  flex-direction: column;
}

.arrange {
  padding: 50px;
  color: white;
  background-color: #f57328;
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}
