/* This is the main styles for the whole modules*/
#root {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
}
