.banner-container {
  background-color: #fff9e7;
}

.banner {
  padding-top: 40vh;
  padding-bottom: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  display: inline-block;
  border: 3px solid;
  border-radius: 5px;
  width: 150px;
}

.list-container {
  padding: 80px;
}

.discover-container {
  padding: 0px 80px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-container {
  margin: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30px;
}

.card-container p {
  padding: 10px;
}
