.accountContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.accountHeader {
  margin-bottom: 1px;
}

.accountSubHeader {
  margin-bottom: 80px;
  font-weight: normal;
}

.buttonContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonContainer button {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 10px;
  padding: 25px;
  width: 400px;
  gap: 30px;
  font-size: 18px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #adadad;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.buttonContainer button h3,
.buttonContainer button p {
  margin: 0;
  text-align: left;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
