.bookingsContainer {
    display: flex;
    height: 100vh;
    padding-top: 60px;
}

.mainContent{
    padding-left: 20px;
}

.bookingsHeader{
    font-size: 28px;
    font-weight: bold;
    margin: 0px 0px;
}

.bookingsSubheader{
    font-size: 20px;
    font-weight: normal;
    margin-top: 1px;
}

.dividerBookings {
    width: 1000px;
    height: 1px;
    border: none;
    background-color: #ccc;
    margin-bottom: 20px;
  }