.profileContainer {
  display: flex;
  height: 100vh;
  padding-top: 60px;
}

.userDetails {
  display: flex;
  flex-direction: column;
}

.userHeader {
  padding-bottom: 20px;
}

.userHeader h1 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.userHeader h2 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 1px;
}

.userInfoContainer {
  display: flex;
  gap: 50px;
}

.photoDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#deleteAccount,
#editProfile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

#deleteAccount button{
  display: flex;
  gap: 5px;
  appearance: none;
  background-color: red;
  color: white;
  border-radius: 20px;
  border: #555454 solid 1px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 0.8em;
  font-weight: 500;
  cursor: pointer;
}

#editProfile button {
  display: flex;
  gap: 5px;
  appearance: none;
  background-color: white;
  color: black;
  border-radius: 20px;
  border: #555454 solid 1px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 0.8em;
  font-weight: 500;
  cursor: pointer;
}

.userPhotoCard {
  width: 25vh;
  padding: 30px 5px;
}

.userPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userPhoto h4 {
  margin: 10px 0px;
}

#userPhotoIcon {
  font-size: 5rem;
}

.userInfoDetails h3,
.userInfoDetails p {
  margin: 5px 0px;
}

.userInfoHeader h1 {
  margin: 0px 0px 30px;
}

.userInfoHeader p {
  margin: 5px 0px 50px 0px;
}

.userAbout {
  margin-bottom: 30px;
}

.userAddresstoAge {
  display: flex;
  gap: 70px;
}

.userEmailtoPass {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.userPassword {
  display: flex;
  align-items: center;
  gap: 30px;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modalContent {
  text-align: center;
}

.modalContent button {
  margin: 5px;
}

.twoButtons{
  display: flex;
}

.twoButtons button{
width: 100%;
align-items: center;
justify-content: center;
}