.dropdown {
  display: flex;
  justify-content: end;
  position: relative;
  right: 0;
}

.dropdown button {
  margin: 10px 10px;
  padding: 5px 5px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
  appearance: none;
  background-color: #f57328;
  color: white;
  border-radius: 25px;
  border: none;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 900;
}

.dropdownMenu {
  position: absolute;
  right: 11px;
  top: calc(100% + -0.5rem);
  background-color: #fff8e4;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  transform: translateY(-10px);
  cursor: pointer;
}

.dropdownMenu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.dropdownMenu li {
  width: 160px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: small;
}

.dropdownMenu li:hover {
  background-color: #fff0c7;
}

.dropdownMenu.visible {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

#logoutIcon {
  transform: rotate(180deg);
}
