.navContainer {
  padding: 0px 50px 0px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff4cf;
}

.searchBtn {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.navbarOnline {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 100px; */
}

.links ul{
  font-size: 1rem;
  color: black;
  text-decoration: none;
}

#loginBtn {
  align-items: center;
  appearance: none;
  background-color: #f57328;
  color: white;
  border-radius: 24px;
  border: none;
  padding: 15px 45px;
  box-sizing: border-box;
  font-size: 1em;
  cursor: pointer;
}
