.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 100px;
}

.searchBar {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 30px;
  background: transparent;
  border: 1px solid rgb(148, 143, 143, .5);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 5px 10px;
  backdrop-filter: blur(4px) saturate(180%);
}

.searchBar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 1rem;
  color: rgb(6, 6, 6, 1);
}


::placeholder {
  color: rgb(6, 6, 6, 0.3);
}

#filterBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  appearance: none;
  background-color: #f57328;
  color: white;
  border-radius: 24px;
  border: none;
  padding: 8px 25px;
  box-sizing: border-box;
  font-size: 1em;
  cursor: pointer;
}

.cardContainer {
  margin: 8vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

.cardContainer p {
  padding: 10px;
}
