.bannerContainer {
  background-color: #fff9e7;
  height: 100vh;
}

.banner {
  display: flex;
}

.bannerHeader {
  display: flex;
  flex-direction: column;
  text-align: end;
  align-items: center;
  justify-content: start;
  margin-top: 10vh;
  padding: 20px 30px;
  color: #483838;
  gap: 70px;
}

.bannerHeader h1 {
  font-size: 3.2rem;
  font-family: 'Petrona', serif;
  margin: 1px;
}

.bannerHeader h2 {
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0px 20px 0px 0px;
}

.hr {
  display: inline-block;
  border: 3px solid;
  border-radius: 5px;
  width: 150px;
}

.listContainer {
  padding: 80px;
}

.discoverContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cardContainer {
  margin: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30px;
}
.roomCarousel {
  margin: 5vh;
}

.cardDetails {
  padding: 10px 20px;
}

.cardContainer p {
  padding: 10px;
}

#bookButton,
#loginBtn {
  font-size: 1.3rem;
  appearance: none;
  background-color: #f57328;
  color: white;
  border-radius: 30px;
  border: none;
  padding: 15px 45px;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 900;
  cursor: pointer;
}

#backIcon,
#nextIcon {
  appearance: none;
  background-color: white;
  color: black;
  border-radius: 30px;
  border: none;
  padding: 0px 0px;
  box-sizing: border-box;
  cursor: pointer;
}

#logo {
  display: flex;
  justify-content: center;
}
